.user-container {
  //background: #f3f3f1;
  height: auto;
  overflow: hidden;


  .nav-tab {

    z-index: 1111111;
    height: .9rem;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #eaeae8;
    text-align: center;
    line-height: .9rem;
    .set-icon {
      width: .35rem;

    }
    .left {
      text-align: left;
      padding-top: .1rem;
      padding-left: .1rem;
    }

    .center {
      line-height: .6rem;
      padding-bottom: .2rem;
      text-align: center;

    }
    .right {

      text-align: right;
      padding-right: .3rem;
      padding-bottom: .1rem;
    }
    .item-head {
      //text-align: center;
      line-height: .8rem;
      overflow: hidden;

    }
  }
  .user-nav {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #f3f3f1;
  }
  .head {
    border: none;
    border-radius: 0;
    padding-top: .4rem;

    margin-top: .9rem;

  }

  .order-info{
    //padding-left: .2rem;
    //padding-right: .2rem;

    margin-top: .2rem;
    .am-list-item{
      border-bottom: 1px solid #f3f3f1;
    }

  }
  .jin-info{
    margin-top: .2rem;
    .am-list-item{
      height: 1rem;
    }

    .count{
      color: #5c5c5c;
      padding-left: .2rem;
    }

  }

  .other-list{

    margin-top: .2rem;
    .am-list-item{
      border-bottom: 1px solid #f3f3f1;
    }


  }
  .username {

    font-size: .5rem;
    //padding-left: .1rem;


    p{
      width: 3.5rem;
      padding-left: .1rem;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }

    .wallet-info{

      width: 2.5rem;
      height: 1rem;
      background: #f6f5f5;
      margin-left: .15rem;
      border-radius:.2rem ;
      margin-top: .2rem;

      overflow: hidden;
      .title{

        font-size: .2rem;
        line-height: .4rem;
        color: #999999;
        padding-left: .2rem;
        padding-top: .1rem;

      }
      .count{
        font-size: .3rem;
        color: #080808;
        line-height: .3rem;
        padding-left: .2rem;
      }


    }

  }
  .username .uslVip {
    //background: #faa100;
    color: #afafaf;
    font-size: .18rem;
    padding: .03rem .1rem .03rem .1rem;
    border-radius: .5rem;
    margin-top: .05rem;
    border: 1px solid #aeaeac;
    display: none;
  }
  .username .lvVip {
    display: inline-block;
    background: #fa325d;
    color: white;
    font-size: .18rem;
    padding: 1px .1rem 2px .1rem;
    border-radius: .4rem;
    margin-top: .05rem;
    margin-left: .1rem;
  }


  .wallet {
    .title {
      color: #9f9f9f;
      font-size: .2rem;

    }
    .count{
      padding-top: .2rem;
      font-size: .4rem;
      font-weight: 400;

    }
    .e-count{
      font-size: .3rem;
      padding-top: .2rem;
      font-weight: 400;

    }
    .draw-btn-not{
      margin-top: .4rem;
      overflow: hidden;
      text-align: center;
      padding: .05rem .2rem .05rem .05rem;
      border: 1px solid #cecdcd;
      border-radius: 1rem;
      font-size: .2rem;
      float: right;
      //color: #cccccc;
      opacity: .4;

    }
    .draw-btn{
      margin-top: .4rem;
      overflow: hidden;
      text-align: center;
      padding: .05rem .2rem .05rem .05rem;
      border: 1px solid #cecdcd;
      border-radius: 1rem;
      font-size: .2rem;
      float: right;


    }
  }

  .am-list-body div:not(:last-child) .am-list-line {
     //border-bottom: 0 ;

    //font-size: .25rem;

  }
  .am-list-item {
    min-height: 44px;
  }

}

