body {
  background: white !important;
}

.home-container {
  .am-search-cancel,.am-search-cancel-show {

 color: black;



}
  //margin-bottom: 2rem;

  .my-carousel {
    background: #fff;
  }
  .my-carousel a {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .my-carousel a img {
    width: 100%;
    height: 3rem;
    vertical-align: top;
  }
  .my-carousel .v-item {
    height: 0.72rem;
    line-height: 0.72rem;
    padding-left: 0.2rem;
  }
  .sub-title {

    color: #888;
    font-size: .28rem;
    padding: 30px 0 18px 0;
  }

  .flex-container {
    //width: ;
    width: 100%;
    //首页复写样式
    .fx-box {
      background: white;
      //box-shadow: 0 0 0 5px black;
      margin-bottom: .2rem;
      box-shadow: 0 0 2px #ecd3d4;
      img {
        //float: right;
        //margin-top: .3rem;
        //margin-right: .3rem;
        width: 90%;
        display: inline;
        //padding-top: .1rem;

      }
      .img-info {
        margin: 0 auto;
        text-align: center;
        line-height: 1.5rem;
        margin-top: .2rem;
        width: 80%;
        height: 1.2rem;
        //background: #f3f3f1;



      }
      .txt{
        font-size: .25rem;
        width: 100%;
        text-align: center;
        line-height: .4rem;
        padding-bottom: .2rem;

      }

    }


    .slider{
      width: 100%;
      overflow: hidden;
      //width: ;
        height: 2.8rem;
      //padding-left: rem;

        .per{

          width: 25%;
          float: left;
          background: none;
          border: none;
          .img-info{
            margin-top: .1rem;
        border: none;
          height: 1.5rem;
          background: none;
          img{
            width: 90%;
            height: 1.5rem;
          }

        }
      }



    }

  }
  .flex-container .inline {
    background: #f2f2f2;
    width: 50% !important;
    //margin: .05rem;
    height: 2rem;
    //margin-top: .1rem;
    //margin-right: .1rem;
    overflow: hidden;
    border: 3px solid white;
    box-sizing: border-box;
  }
  .flex-container .inline img {
    float: right;
    margin-top: .3rem;
    margin-right: .3rem;
    width: 30%;

  }
  .flex-container .per {
    width: 50%;
    border: 3px solid white;
    box-sizing: border-box;
    text-align: center;


    .img-info {
      width: 100%;
      //height: auto;
      background: #f3f3f1;
      height: 3rem;
      overflow: hidden;
      border: 1px solid #f3f3f1;
      line-height: 3rem;

    }
  }
  .flex-container .per img {
    //margin-top: .3rem;
    //margin-right: .3rem;
    display: inline;
    width: 100%;
    height: 3rem;
  }
  .flex-container .per .pretxt {
    height: 1.2rem;
    padding-left: .1rem;
    padding-top: .1rem;

    .mall-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: .2rem;
      font-size: .25rem;

    }
  }
  .flex-container .inline .txt {
    font-size: .25rem;
    padding-top: .1rem;
    padding-left: .2rem;
    display: inline-block;
    float: left;

  }

  .flex-container .inline p {

    padding-top: .05rem;

  }

  .flex-container .small {
    height: 0.4rem !important;
    line-height: 0.4rem !important;
  }
  .sub-title {
    color: #888;
    font-size: .28rem;
    padding: 30px 0 18px 0;
  }

  .am-list-body {

    border: none;

  }
  .search-nav {
    width: 100%;
    height: .8rem;
    border-bottom: 1px solid #d9d9d7;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-icon {

      width: 80%;
      height: .5rem;
      font-size: .22rem;
      background: #f3f3f1;
      text-align: center;
      line-height: .5rem;
      color: #666666;
      border-radius: .1rem;

      img {
        //display: inline-block;
        width: .35rem;
        float: left;
        overflow: hidden;
        padding-top: .05rem;
        padding-left: 1rem;
        padding-right: .1rem;

      }
      span {
        float: left;
      }

    }
  }

  .tabs {

    position: fixed;
    //top: .9rem;
    width: 100%;

  }
  .am-list {

    max-width: 100% !important;
  }

  .am-tabs-top .am-tabs-default-bar {

    border: none;
    color: #666666;
  }
  .am-tabs-default-bar-underline {

    border: 1px solid #fed11b;
  }

  .right-icon {

    display: inline-block;
    width: .2rem;
    height: .2rem;
    border: 1px solid red;

  }


  .title {
    display: inline-block;
    height: auto;
    width: auto;
  }
  .fx-title{
    display: inline-block;
    background: #ff4d5d;
    padding: .1rem .3rem;
    color: white;
    border-radius:.5rem ;
    letter-spacing: .1rem;
    margin-top: .15rem;


  }
  .icon-color {
    overflow: hidden;
    background: #ccc;
    border-radius: 1rem;
    margin-left: .3rem;
    width: .27rem;
    height: .25rem;
  }

  a {
    color: black;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .am-search {

    background-color: white;
    .am-search-input .am-search-synthetic-ph {

      //border:1px solid #f3f3f1;
    }
  }

}


























