body{
  background: white !important;
}
.item-container{
  overflow: hidden;
  .search-nav{

    width: 100%;
    height: .8rem;
    border-bottom: 1px solid #d9d9d7;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background: white;

    .search-icon{

      width: 80%;
      height: .5rem;
      font-size: .22rem;
      background: #f3f3f1;
      text-align: center;
      line-height: .5rem;
      color: #666666;
      border-radius: .1rem;

      img{
        //display: inline-block;
        width: .35rem;
        float: left;
        overflow: hidden;
        padding-top: .05rem;
        padding-left: 1rem;
        padding-right: .1rem;

      }
      span{
        float: left;
      }

    }
  }

.list-info{

  //position: absolute;
  margin-top: .05rem;

}
  .am-indexed-list-quick-search-bar{
   border-right: 1px solid #f3f3f1 !important;
    opacity: .8;

  li:first-child{
    display: none;
  }
  li{
    height: .8rem;
    background: #f3f3f1;
    margin-bottom: .05rem;
    overflow: hidden;
    line-height: .8rem;
    color: #646464;



  }

}

  .list-row{
    text-align: center;
    display: inline-block;
    width: 33%;
    margin-top: .5rem;
    .img-info{
      width: 98%;
      text-align: center;
      height: 1.6rem;
      //border: 1px solid red;
      margin: 0 auto;
      overflow: hidden;
      img{
        width: 70%;

      }

    }
    p{

      font-size: .25rem !important;
      //padding-bottom: .4rem;
    }



  }
  .am-list-body {
    background-color: #fff;
     border:none;
    //margin-top: .2rem;

  }
  .am-indexed-list-section-body{

    margin-bottom: .4rem;
  }
  .am-list-view-scrollview-content {
    //margin-top: .5rem;
  }
  .am-indexed-list-section-header .am-list-item {

    background: rgb(243,243,243) !important;
    color: black !important;
    font-size: .3rem;
    //padding-top: .4rem;
  }
.am-list-footer{

    border: none;
  }
  .am-list-body:after {
    border: none;
  }
  .am-list-body:before {

    border: none;
  }
  a{
    color: black;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .am-search {

    background-color: #f3f3f1;
  }

}