.orderDetail-container {
  //background: #f3f3f1;
  height: auto;
  //margin-top: 1rem;
  .am-textarea-clear{
    margin-right: .2rem;
  }
  .nav-tab {

    z-index: 1111111;
    height: .9rem;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #eaeae8;
    text-align: center;
    line-height: .8rem;
    .set-icon {
      width: .35rem;

    }
    .left {
      text-align: left;
      padding-top: .1rem;
      padding-left: .1rem;
    }

    .center {
      line-height: .6rem;
      padding-bottom: .2rem;
      text-align: center;

    }
    .right {

      text-align: right;
      padding-right: .3rem;
      padding-bottom: .1rem;
    }
    .item-head {
      //text-align: center;
      line-height: .8rem;
      overflow: hidden;

    }
  }

  .ads-info {
    min-height: 1.5rem;

    .no-ads {

      min-height: 1.5rem;
      img{
        width: .3rem;
        height: .3rem;
        margin-bottom: .05rem;
      }
      .am-list-content{
        color: #fea203 !important;
        font-size: .3rem;
      }
    }
    .yes-ads {

      min-height: 1.5rem;
      .am-list-content{
        font-size: .3rem;

        .name{
          width: 80%;
            color: black;
          word-wrap:break-word;
          word-break:break-all;
          span{
            padding-left: .4rem;
          }

        }
        .ads-dl{
          padding-top: .2rem;
          padding-bottom: .2rem;
          white-space:normal;
          color: #494949;
          font-size: .28rem;
          line-height: .28rem;
          width: 6rem;
          word-break:break-all
        }
      }

    }



    width: 100%;

    background: white;
    padding-top: .9rem;
    position: relative;

    .line {
      display: block;
      width: 100%;
      height: .08rem;
      position: absolute;
      bottom: 0;
    }
    .name-msg {

      width: 80%;
      padding-left: .3rem;

      .mobile {

        float: right;
      }

    }

    .ads {
      float: left;
      width: 80%;
      padding-left: .3rem;
      padding-top: .3rem;
      font-size: .25rem;

      .icon {
        display: inline-block;
        width: 10%;
        img {
          width: .3rem;
        }
      }
      .txt {
        display: inline-block;
        width: 90%;
        font-size: .22rem;
        color: #6b6b6a;
      }

    }
    .right-icon {
      float: right;
      margin-right: .2rem;
      color: #797979;
      margin-top: .2rem;

    }

  }

  .goods-list {

    margin-top: .1rem;
    padding: .1rem;
    padding-left: .3rem;
    background: white;
    .head {
      width: 100%;
      height: .6rem;
      line-height: .6rem;
      border-bottom: 1px #f3f3f1;
      font-size: .22rem;
      color: #777775;

    }

    .goods-info:not(:last-child){
      border-bottom: 1px solid #f7f6f6;
    }
    .goods-info {
      //border-top: 1px solid #dfdfdd;
      overflow: hidden;

      width: 100%;
      min-height: 2rem;

      .img {
        width: 30%;
        min-height: 2rem;
        float: left;
        padding-top: .2rem;
        img {
          width: 1.8rem;
          //height: 1.6rem;
        }

      }
      .msg {

        p {
          width: 100%;
        }
        width: 60%;
        float: left;
        height: 2rem;
        padding-left: .25rem;
        .name {
          padding-top: .3rem;
          height: .78rem;
          font-size: .25rem;
          color: #333333;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;

        }
        .count {
          display: inline-block;
          margin-top: .2rem;
          font-size: .22rem;
          color: #707070;
            text-align: right;
            width: 50%;
          span {
            font-size: .25rem;
            color: #545454;
          }

        }
        .price {
          display: inline-block;
          width: 50%;
          font-size: .32rem;
          color: #fe4203;
          span {
            font-size: .32rem;
            color: #fe4203;
          }
        }

      }

    }

    .tot-info {
      height: .6rem;
      width: 100%;
      border-top: 1px solid #dfdfdd;
      text-align: right;
      line-height: .6rem;

      font-size: .25rem;
      .count {
        margin-right: .3rem;

      }
      .totPrice {
        padding-right: .2rem;
        color: red;
      }

    }

  }

  .res-info {
    width: 100%;
    height: 1.2rem;
    background: white;
    margin-top: .1rem;
    padding-left: .3rem;
    .head {
      font-size: .2rem;
      color: #707070;
      line-height: .4rem;
      padding-top: .2rem;
      overflow: hidden;
      .input-info {
        width: 100%;
      }
      input {
        font-size: 12px !important;
        color: #a5a5a5;
      }
      .all {
        float: right;
        font-size: 12px;

      }
    }
  }
  .re-info {
    margin-top: .1rem;
    .am-textarea-control textarea {

      font-size: .2rem;
    }

  }

  .fapiao {

    height: .5rem;
    background: white;
    margin-top: .1rem;
    width: 100%;
    line-height: .5rem;
    font-size: .2rem;
    .am-checkbox.am-checkbox-checked .am-checkbox-inner {

      background: #e84b53;
      border: 1px solid #e84b53;

    }

    .am-checkbox.am-checkbox-checked .am-checkbox-inner:after {
      display: block;
      border-color: white;
    }
    .am-list-body div:not(:last-child) .am-list-line {
      border: none;
    }
    .am-checkbox-inner {

      border: 1px solid #2d2d2d;
    }
    .am-list-item {
      font-size: .22rem;

    }
    .am-checkbox-inner {
      width: 18px;
      height: 18px;
    }
    .am-list-content {
      font-size: .2rem;
    }
  }

  .fapiao-info {
    height: 1.1rem;
    margin-top: .2rem;
    width: 100%;
    background: white;
    padding-top: .2rem;
    .top {
      label {
        font-size: .25rem;
      }
      .per {

        padding-right: .5rem;
      }

      .a {

        float: left;
      }
      .am-checkbox.am-checkbox-checked .am-checkbox-inner {

        background: #e84b53;
        border: 1px solid #e84b53;

      }

      .am-checkbox.am-checkbox-checked .am-checkbox-inner:after {
        display: block;
        border-color: white;
      }
      .am-list-body div:not(:last-child) .am-list-line {
        border: none;
      }
      .am-checkbox-inner {

        border: 1px solid #2d2d2d;
      }
      .am-list-item {
        font-size: .22rem;
        width: 80px;

      }
      .am-checkbox-inner {
        width: 18px;
        height: 18px;
      }
      .am-list-content {
        font-size: .2rem;
      }
      width: 100%;
      height: .5rem;
      border-bottom: 1px solid #f3f3f1;
      .title {
        font-size: .2rem;
        display: inline-block;
        width: 12%;
        text-align: left;
        line-height: .5rem;
        color: #303030;
        padding-left: .25rem;

      }
    }
    .bottom {
      .am-list-item .am-input-label.am-input-label-5 {
        width: 40px;
        font-size: .2rem;
      }
      width: 100%;
      height: .6rem;
      border-bottom: 1px solid #f3f3f1;
      .title {
        font-size: .2rem;
        display: inline-block;
        width: 15%;
        text-align: left;
        line-height: .6rem;
        color: #303030;
        padding-left: .2rem;

      }

    }

  }
  .exp {
    height: .8rem;
    width: 100%;
    padding-left: .2rem;
    padding-top: .4rem;
    padding-right: .2rem;
    color: #716b6b;
    font-size: .22rem;
    //border-bottom: 1px solid #cacaca;
    span {
      color: #2d95e4;
    }

  }
  .buy-btn {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: white;
    text-align: center;
    font-size: .25rem;
    position: fixed;
    //border: 1px solid red;
    overflow: hidden;
    box-shadow: 5px 0 8px #f7f6f6;
    bottom: 0;
    .tot-exp{
      display: inline-block;
      width: 4rem;
      line-height: 1rem;
      //padding-left: .25rem;
      height: 1rem;
      //border: 1px solid red;
      color: #fe4203;
      text-align: left;
      font-size: .32rem;
      span{
        font-size: .26rem;
        color: #999999;
      }

    }
    .btn-exp{
      display: inline-block;
      width: 2.5rem;
      float: right;
      height: 1rem;
      background: #fe4a21;
      color: white;
      font-size: .32rem;

    }


  }

  .take-goods-type {



    width: 100%;
    height: 2.5rem;
    //border: 1px solid red;
    background: white;
    margin-top: .1rem;
    padding: .1rem;


    .title {
      height: .5rem;
      line-height: .5rem;
      font-size: .25rem;
      padding-left: .2rem;
      border-bottom: 1px solid #f3f3f1;
      color: #626262;
    }
    .list {
      width: 100%;
      height: 1rem;
      //line-height: 1rem;
      padding-left: .3rem;
      border-bottom: 1px solid #dcdcdc;
      color: #505050;
      padding-top: .3rem;
      .exp-msg{
        float: right;
        font-size: .2rem;
        display: inline-block;
        width: 50%;
        margin-right: .3rem;
      }
      .post{

        float: right;
        font-size: .25rem;
        margin-right: .4rem;


      }
    }
    .am-radio.am-radio-checked .am-radio-inner {
      background: #ea1a46;
      border: 1px solid #ea1a46;
    }
    .am-radio.am-radio-checked .am-radio-inner:after {
      border-color: white;

    }
    .am-list-item .am-list-line .am-radio-inner {
      border: 1px solid black;
      width: .35rem !important;
      height: .35rem !important;
      border-radius: 1rem;

    }
    .am-radio {
      border: 1px solid #505050;
      border-radius: 1rem;
      overflow: hidden;
    }
    .am-radio-checked {
      overflow: hidden;

      border: 1px solid #ea1a46;
      border-radius: 1rem;
    }
    .am-radio-input{
      border-radius: 1rem;
    }
    .am-radio-inner:after{
      width: 5px;
      height: 10px;
      margin-top: 2px;
    }
  }

  .post-type-info{
    border-top: 1px solid #f5f5f5;

    width: 100%;
    height:1rem;
    .am-list-item .am-list-line .am-list-extra{
      flex-basis: 60%;
      font-size: .26rem;
      //padding-top: .5rem;
    }

    .am-list-content{
      font-size: .28rem;


    }

    .type-name{


      color: black;
    }

    .type-ads{
      color: black;

    }
  }

  .more-exp-info{
    margin-top: .2rem;
    //padding-bottom: 1.2rem;

    border-top: 1px solid #f5f5f5;

    width: 100%;
    height:1rem;
    .am-list-item .am-list-line .am-list-extra{
      flex-basis: 60%;
      font-size: .26rem;
      //padding-top: .5rem;
    }

    .am-list-content{
      font-size: .28rem;


    }

    .type-name{


      color: black;
    }

    .type-ads{
      color: black;

    }

    .am-textarea-label{

      font-size: .28rem;
    }
    .am-textarea-control{
      textarea{
        font-size: .26rem;
      }

    }
    .am-textarea-item{
      border-top: 1px solid #f7f6f6;
      border-bottom: 1px solid #f7f6f6;
    }


  }

  .count-exp-info{

    margin-top: 1.1rem;
    //border: 1px solid red;

    .am-list-content{
      font-size: .28rem;


    }
    .am-list-item{
      border-top: 1px solid #f7f6f6;
    }
    .am-list-item .am-list-line .am-list-extra{
      flex-basis: 60%;
      font-size: .26rem;
      //padding-top: .5rem;
    }

    .type-name{

      font-size: .32rem;
      color: #fe4203;

    }


  }




















}

